:root{
    --altura-cabezal:80px;
    --altura-footer:80px;
}

#header-principal{
    height: var(--altura-cabezal);
    background-color: black;
}
#footer-principal{
    height: var(--altura-footer);
    background-color: black;
}
.menu-nav{
    float: right;
}
.menu-nav > ul {
    list-style-type: none;
    overflow: hidden;
    display: block;
}
.menu-nav > ul > li {
    float: left;
}
.menu-nav > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 25px 35px;
}
.menu-nav > ul > li > a:hover{
    background-color: #f8f9fa3b;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
}
.slider-principal{
    height: calc(100vh - var(--altura-cabezal) - var(--altura-footer));
    background-color: red;
}
.posi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}