@import url(/assets/fonts/stylefonts.css);
@import url(/assets/css/stylemedia.css);

:root{
    --altura-cabezal:80px;
    --altura-footer:80px;
}
body{
    background: linear-gradient(to bottom, rgba(9,3,3,1) 0%,rgba(49,6,14,1) 53%,rgba(112,24,22,1) 100%,rgba(112,24,22,1) 100%);
    color: white;
    font-family: pearl;
    font-weight: bold;
}
.tamano{
    font-size: 120px
}
#header-principal{
    height: var(--altura-cabezal);
}
#footer-principal{
    height: var(--altura-footer);

}
.menu-nav{
    float: right;
}
.menu-nav > ul {
    list-style-type: none;
    overflow: hidden;
    display: block;
}
.menu-nav > ul > li {
    float: left;
}
.menu-nav > ul > li > a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 25px 35px;
}
.menu-nav > ul > li > a:hover{
    background: linear-gradient(to bottom, rgba(9,3,3,1) 0%,rgba(49,6,14,1) 53%,rgba(112,24,22,1) 100%,rgba(112,24,22,1) 100%);
    border-radius: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.row{
    margin: 0;
}
.slider-principal{
    height: calc(100vh - var(--altura-cabezal) - var(--altura-footer));
}
.posi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-principal{
    height: 79px;
    width: auto;
}
.img-secundaria{
    height: calc(80vh - var(--altura-cabezal) - var(--altura-footer));
}
.menu-icon img{
    width: 30px;
    height: 30px;
    border-radius: 2px;
}
.menu-icon, #check{
    display: none;
}