
:root{
    --altura-cabezal:80px;
    --altura-footer:80px;
}
body{
    background: linear-gradient(to bottom, rgba(9,3,3,1) 0%,rgba(49,6,14,1) 53%,rgba(112,24,22,1) 100%,rgba(112,24,22,1) 100%);
    color: white;
    font-family: pearl;
    font-weight: bold;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.tamano{
    font-size: 50px
}
#header-principal{
    height: var(--altura-cabezal);
}
#footer-principal{
    height: var(--altura-footer);
}
nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: var(--altura-cabezal);

}
nav .img-principal{
    float: left;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}
nav .list{
    float: right;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .list li{
    list-style: none ;
}
nav .list a{
    display: block;
    text-transform: uppercase;
    padding: 25px 35px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
nav .list a:hover{

    height: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#toogle{
    position: absolute;
    top: -100px;
}
nav .icon-bars{
    display: none;
    position: absolute;
    right: 5%;
    top: 58%;
    transform: translateY(-50%);
}
nav .icon-bars .line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}
.row{
    margin: 0;
}
.principal111{
    height: 100vh;
}
.principal{
    height: calc(100vh - var(--altura-cabezal) - var(--altura-footer));
}
.secundario{
    height: calc(89vh - var(--altura-footer));
}
.posi{
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer-socialmedia{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}
#footer-socialmedia .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    color: white;
}
#footercopyright{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.video-socialmedia .videosocial-link{
    width: 2.5rem;
}
.twitch2{
    color: #6f42c1;
    text-decoration: none;
}
.youtube{
    color: red;
    text-decoration: none;
}

.sec1{
    height: calc(100vh - var(--altura-cabezal));
}
.sec2{
    height: 100vh;
}

.imgqeg{
    width:auto;
    height: 250px;
}
.imgenvideo{
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 1px 54px rgba(0,0,0,0.9);
}
#product{
    background: linear-gradient(to bottom, rgba(9,3,3,1) 0%,rgba(49,6,14,1) 53%,rgba(112,24,22,1) 100%,rgba(112,24,22,1) 100%);
    width: 90%;
    max-width: 400px;
    padding: 4.5em 6em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba( 0 0 0 / 30%);
    text-align: center;
}
.form_title{
    font-size: 2rem;
}
.form_container{
    display: grid;
    gap: 1.5em;
}
.form_group{
    position: relative;
}
.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: 1px 1px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}
#product select option{
    color: black;
}
.form_label{
    cursor: pointer;
}
.form_submit{
    background: #3866f2;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: .4em 0;
    border: none;
    border-radius: .5em;
}

/* ------------ MEDIAS ------------ */

@media(max-width: 768px){
    nav .list{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background: linear-gradient(to bottom, rgba(9,3,3,1) 0%,rgba(49,6,14,1) 53%,rgba(112,24,22,1) 100%,rgba(112,24,22,1) 100%);
        overflow: hidden;
        transition: all .5s ease-in-out;

    }
    nav .list a{
        font-size: 20px;
        display: block;
    }
    nav :checked ~ .list{
        bottom: 0;
    }
    nav .icon-bars{
        display: block;
    }
    .form_title{
        font-size: 1.8rem;
    }

}